* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}


#footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2% 0;
  transition: all 2s ease-out;
}

.soundtrack-info {
  list-style-type: none;
  margin: 0;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.soundtrack-info li {
  display: block;
  display: flex;
  overflow: hidden;
}

.title a {
  flex: 1 0 60%;
}

.soundtrack-info a {
  padding: 1em 1em;
  color: rgb(255, 255, 255);
  font-size: .8em;
  font-family: monospace;
  text-decoration: none;
  text-align: center;
}

.soundtrack-info li:hover {
}

img {
  display: block;
  width: 100%;
}
